//a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
//  margin: 0;
//  padding: 0;
//  border: 0;
//  vertical-align: baseline;
//}



// tách sang file khác
@font-face {
  font-family: roboto-regular;
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: roboto-italic;
  src: url("../font/Roboto-Italic.ttf");
}
@font-face {
  font-family: roboto-bold;
  src: url("../font/Roboto-Bold.ttf");
}
@font-face {
  font-family: utmavo-bold;
  src: url("../font/UTM AvoBold.ttf");
}
@font-face {
  font-family: roboto-medium;
  src: url("../font/Roboto-Medium.ttf");
}
body{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.feedy-wrap {
  width: 100%;
  overflow: hidden;

  header {

    .fw-header {
        display: flex;
      height: 65px;
      .fwh-logo {
        background: #3074c1;
        width: 60px;
        transition: all 0.35s ease;
        a{        //thêm tên
          padding: 15px;
          display: block;
          img {    //thêm tên
            height: 40px;
          }
        }

      }

      .fwh-menu {
        display: flex;
        background: #3f4357;
        width: 100%;

        .fwhm-searchbar {
          margin: 0;
          border: 0;
          padding: 0;
          background: #494c62;
          display: flex;
          width: 20%;
          justify-content: space-between;
          input{         //thêm tên
            border: 0;
            padding: 0;
            background: inherit;
            height: inherit;
            font-family: roboto-italic;
            font-size: 17.09px;
            padding-left: 22px;
            width: 80%;
            color: #fff;
          }
          button{       //thêm tên
            background: url("../img/search.png") no-repeat;
            background-position: center;
            height: 65px;
            width: 65px;
            border: 0;
            padding: 0;
            cursor: pointer;
          }
        }

        .fwhm-menubar {
          display: flex;
          padding-left: 80px;
          margin-bottom: 0;
          list-style-type: none;
          font-size: 16px;
          font-family: roboto-bold!important;
          padding-top: 20px;
          width: 55%;

          .fwhm-new {
            margin-right: 35px;
            a {
              color: #fff;
              transition: all 0.35s ease;


            }

          }

          .fwhm-community {
            margin-right: 35px;
            position: relative;
            a {
              color: #b2b4bc;
              transition: all 0.35s ease;
            }

            .fwhmc-menu{
              z-index: 1000;
              position: absolute;
              top: 80%;
              left: -5px;
              min-width: 200px;
              padding: 20px 20px;
              padding-top: 10px;
              background-color: white;
              opacity: 0;
              visibility: hidden;
              transition: all 0.35s ease;
              border: 1px solid rgba(0, 0, 0, .15);
              border-radius: 4px;
              box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

              li{
                list-style-type: none;
                line-height: 45px;
                padding: 0;
                width: 100%;
                border-bottom: 1px solid #eee;
              }
            }

          }
          .fwhm-community:hover .fwhmc-menu{
            visibility: visible;
            opacity: 1;
          }
          .fwhm-res {
            margin-right: 35px;
            a {
              color: #b2b4bc;
              transition: all 0.35s ease;
            }

          }

          .fwhm-blog {
            margin-right: 35px;
            a {
              color: #b2b4bc;
              transition: all 0.35s ease;
            }

          }

          .fwhm-feedytv {
            margin-right: 35px;
            a {
              color: #b2b4bc;
              transition: all 0.35s ease;
            }

          }

          .fwhm-pro {
            margin-right: 35px;
            a {
              color: #b2b4bc;
              transition: all 0.35s ease;
            }

          }

          .fwhm-event {

            a {
              color: #b2b4bc;
              transition: all 0.35s ease;
            }

          }
        }
        ul ul{
          display: initial;
        }
        ul a:hover{
          text-decoration: none;
          transition: all 0.35 ease;
        }
        .fwhm-receipe{
          background: #4367b2;
          margin: 15px 0;
          border-radius: 5px;
          width: 12%;
          position: relative;
          &:hover .fwhmr-menu{
            visibility: visible;
            opacity: 1;
          }
          a{
            background: url(../img/add.png) no-repeat 15px -1px;
            color: #ffffff;
            font-size: 14.84px;
            font-family: roboto-bold;
            padding: 0 15px 0 45px;
            &:hover{
              text-decoration: none!important; ;
            }
          }
          .fwhmr-menu{
            z-index: 1000;
            position: absolute;
            top: 130%;
            left: -5px;
            min-width: 200px;
            padding: 20px 20px;
            padding-top: 10px;
            background-color: white;
            opacity: 0;
            visibility: hidden;
            transition: all 0.35s ease;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            list-style-type: none;
            li{
              line-height: 45px;
              font-size: 14px;
              width: 100%;
              border-bottom: 1px solid #eee;
              a{
                color: #9ea8b3!important;
                padding: 0 15px 0 20px!important;
              }
            }
          }
        }
        .fwhm-noti{
          width: 7%;
          text-align: center;
          margin: auto 30px;
          .fwhmn-ring{
            position: relative;
            width: 50%;
            img{
              margin-right: 15px;
            }
            span{
              font-family: roboto-bold;
              font-size: 14px;
              position: absolute;
              top: -2px;
              right: 5px;
              color: #fff;
              background: #3074c1;
              border-radius: 50%;
              width: 20px;
            }

          }
          .fwhmn-sms{
            position: relative;
            width: 50%;
            img{

            }
            span{
              font-family: roboto-bold;
              font-size: 14px;
              position: absolute;
              top: -2px;
              right: -5px;
              color: #3f4357;
              background: #ffbc2c;
              width: 20px;
              border-radius: 50%;
            }
          }
        }
        .fwhm-user{
          line-height: 13px;
          width: 12%;
          img{
            float: left;
            margin-top: 12px;
            border: 2px solid #fff;
            border-radius: 50%;

          }
          label{
            font-size: 12px;
            color: #fff;
            margin-bottom: 0;
            margin-left: 5px;
            margin-top: 20px;
          }
          p{
            color: #fff;
            font-family: roboto-regular;
            font-size: 10px;
            display: inline-block;
            margin: 0 0 0 5px;

            .fwhmu-cost{
              color: #ffbc2c;
              font-family: utmavo-bold;
              position: relative;
            }
            .fwhmu-cost::after{
              content: "$";
              position: absolute;
              width: 12px;
              height: 12px;
              text-align: center;
              background: #ffbc2c;
              color: #3f4357;
              border-radius: 50%;
              padding-right: 2px;
              right: -15px;
            }
          }
        }
      }
    }
  }

  section {

    .fw-section {
      display: flex;
      .fws-left{
        width: 60px!important;
        transition: all 0.35s ease;
        .fwsl-menu{
          display: flex;
          padding: 15px 20px;
          .fwslm-name{
            font-family: roboto-regular;
            font-size: 14px;
            color: #bbc2ca;
            margin: auto;

          }

          .fwslm-click{
            transform: rotate(-180deg);
            border: none;
            background: #fff;
            outline: 0;
            color: #bcc3cb;
          }
        }

        ul{
          padding: 0;
          margin: 0;
          list-style-type: none;
          text-align: center;
          li{
            filter: grayscale(1);
            opacity: 0.6;
            white-space: nowrap;
            a{
              &:hover{
                text-decoration: none!important;
              }
              span{
                text-align: center;
                display: inline-block;
                width: 60px;
                vertical-align: middle;
                padding: 15px;
                img{
                  padding-bottom: 10px;
                }
              }
            }
          }
          li:hover{
            filter: grayscale(0);
            opacity: 1;
          }
        }

      }
      .fws-right {
        width: 60px;
        transition: all 0.35s ease;
        .fwsrc-wrap{
          width: 250px;
          .fwsr-chatbox {
            overflow: hidden;
            padding: 15px 20px;
            .fwsrc-click {
              border: none;
              background: #fff;
              outline: 0;
              color: #bcc3cb;
              float: left;
              .fa {

              }
            }
            .fwsrc-setting {
              font-family: roboto-regular;
              font-size: 14px;
              color: #bbc2ca;
              margin: auto;
              border: none;
              background: #fff;
              white-space: normal;
              text-align: right;
              padding: 7px 0 0 0;
              a{

              }
              a:hover{
                text-decoration: none;
              }
            }
          }

          .fwsr-member {

            li {
              display: flex;
              position: relative;
              a {
                display: flex;

                .fr-img {
                  margin: 0 15px 0 0;
                  img {
                    border-radius: 50%;
                  }
                }

                .fr-content {

                  .frc-name {
                    display: block;
                    font-family: roboto-medium;
                    font-size: 14px;
                    color: #9ea8b3;
                  }

                  .frc-stt {
                    display: block;
                    font-family: roboto-medium;
                    font-size: 9px;
                    text-transform: uppercase;
                    color: #9ea8b3;
                  }
                }
              }
              a:hover{
                text-decoration: none!important;
              }
              .three-btn {

                position: absolute;
                top: 0;
                right: 0;
                a{
                  color: #9ea8b3!important;
                }
                a:hover{
                  color: #9ea8b3;
                }
              }
            }
          }
          .add-pad{
            list-style-type: none;
            margin: 0;
            padding: 15px;
          }
        }
      }
      .swiper-container {
        margin: 0 auto;
        padding: 0 10px;
        .swiper-wrapper {

          .swiper-slide {

            img {

            }
          }
        }

        .swiper-pagination {

        }

        .swiper-button-prev {

        }

        .swiper-button-next {

        }
      }
      .fws-right{

      }
    }
  }

  footer {

    .fw-footer {

    }
  }
}