body{
  margin: 0;
  padding: 0;
}
.a-wrap {

  header {
    display: flex;
    .aw-left {
      width: 10%;
      height: 100px;
      background: black;
    }

    .aw-header {
      height: 100px;
      display: flex;
      width: 80%;
      margin: auto;
      .awh-logo {
        background: #000000;
        width: 170px;
        margin-right: 440px;
        position: relative;
        .logo-wrap {
          position: absolute;
          left: 0;;
          top: 25%;
          a {

            img {

            }
          }
        }
      }

      .awh-menubar {
        width: 580px;
        margin: auto 0;
        .menubar-top {
          font-family: dinregular;
          text-transform: uppercase;
          font-size: 16px;
          list-style-type: none;
          display: flex;
          padding: 0;
          .menubar-work {
            margin-right: 60px;
            a {

            }
          }

          .menubar-about {
            margin-right: 60px;
            a {

            }
          }

          .menubar-contact {
            margin-right: 185px;
            a {

            }
          }

          .menubar-search {

            a {

            }
          }
        }
      }
    }

    .aw-right {
      width: 10%;
      height: 100px;
    }
  }

  section {

    .wrap-section {

      .section-top {
        position: relative;
        height: 800px;
        margin: auto;
        .st-pos {

        }

        .st-border {
          position: absolute;
          bottom: 75px;
          right: 345px;
          background: #000000;
          height: 130px;
          width: 35%;
          .swiper-button-prev {
            width: 30px!important;
            height: 12px!important;
            color: #bababa!important;
            left: 50px!important;
            top: 40%!important;
          }

          .swiper-button-next {
            right: 510px!important;
            top: 40%!important;
            width: 30px!important;
            height: 12px!important;
            color: #bababa!important;
          }

          .sb-project {
            font-family: dinregular;
            font-size: 12px;
            text-transform: uppercase;
            position: absolute;
            color: white;
            top: 55px;
            left: 50px;
          }

          .sb-inter {
            font-family: dinbold;
            font-size: 16px;
            text-transform: uppercase;
            position: absolute;
            color: white;
            top: 80px;
            left: 50px;
          }

          .sb-seemore {
            font-family: dinregular;
            font-size: 12px;
            text-transform: uppercase;
            position: absolute;
            color: white;
            top: 80px;
            right: 110px;
          }

          .sb-arrow {
            position: absolute;
            color: white;
            bottom: 30px;
            right: 40px;
            a {

              img {

              }
            }
          }
        }
      }

      .section-mid {

        .sm-top {
          height: 220px;
          display: flex;
          width: 80%;
          margin: auto;
          .smt-left {
            width: 370px;
            font-size: 58px;
            font-family: dinbold;
            text-transform: uppercase;
            br {

            }
          }

          .smt-center {
            width: 170px;
            font-size: 15px;
            font-family: dinbold;
            text-transform: uppercase;
            margin-left: 30px;
          }

          .smt-right {
            width: 500px;
            margin-right: 150px;
            font-family: dinregular;
            font-size: 17px;

          }
        }

        .sm-mid {
          height: 459px;
          width: 80%;
          margin: auto;
          .smm-wrap {
            display: flex;
            height: 459px;
            .smm-left {
              width: 370px;
              .sl-project {
                font-family: dinbold;
                font-size: 16px;
                text-transform: uppercase;
                margin: 110px 0 90px 0;
              }

              ul {
                padding: 0 0 0 17px;
                width: 250px;
                margin: 0 120px 0 0;
                line-height: 45px;
                .slp-house {
                  font-family: dinbold!important;
                  line-height: 20px!important;
                  font-weight: 600;
                  br {

                  }
                }

                li {
                  font-family: dinregular;
                  font-size: 16px;
                  text-transform: uppercase;

                  list-style-type: square;
                }
              }
            }

            .smm-right {

              img {

              }
            }
          }

          .smm-bottom {
            height: 70px;
            display: flex;
            margin-bottom: 270px;
            .smmb-left {
              width: 200px;
              margin: 0 180px 0 20px;
              font-family: dinregular;
              text-transform: uppercase;
              font-size: 16px;
              padding-top: 20px;
              position: relative;
              :after{
                content: "";
                height: 1px;
                width: 100%;
                background: #000000;
                position: absolute;
                bottom: 5px;
                right: 0;
              }
            }

            .smmb-mid {
              width: 370px;
              font-family: dinregular;
              font-size: 16px;
              margin-right: 129px;
              padding-top: 20px;
              b {

              }
            }

            .smmb-right {
              background: #000000;
              position: relative;
              color: #ffffff;
              width: 285px;
              font-family: dinbold;
              font-size: 14px;
              text-transform: uppercase;
              p {
                margin-top: 25px;
                margin-left: 30px;
              }

              a {

                img {
                  position: absolute;
                  right: 30px;
                  top: 40%;
                }
              }
            }
          }
        }

        .sm-bottom {
          margin-top: 220px;
          .smb-top {
            margin-bottom: 180px;
            .smbt-wrap {

              .sw-top {
                display: flex;
                padding-top: 140px;
                .sw-left {
                  height: 180px;
                  padding-top: 20px;
                  margin: 0;
                }

                .sw-center {
                  padding-top: 20px;
                  width: 400px;
                  margin-right: 215px;
                }

                .sw-right {

                  br {

                  }
                }
              }

              .sw-mid {
                display: flex;
                height: 459px;
                .swm-left {
                  margin-right: 120px;
                  img {

                  }
                }

                .swm-right {

                  .sl-project {

                  }

                  ul {
                    padding: 0 0 0 17px;
                    width: 250px;
                    margin: 0 120px 0 0;
                    line-height: 45px;
                    font-family: dinregular;
                    font-size: 16px;
                    text-transform: uppercase;
                    .slp-house {

                    }

                    li {

                    }
                  }
                }
              }

              .sw-bottom {
                height: 70px;
                display: flex;
                .swb-left {
                  margin-left: 30px;
                  margin-right: 180px;
                  b {

                  }
                }

                .swb-center {

                  p {

                  }

                  a {

                    img {

                    }
                  }
                }

                .swb-right {
                  margin: 0px 60px 0 140px;
                }
              }
            }
          }

          .smb-bot {

            .sm-top {

              .smbb-left {

                br {

                }
              }

              .smbb-center {
                padding-top: 15px;
              }

              .smbb-right {
                padding-top: 15px;
              }
            }

            .smbb-wrap {
              display: flex;
              height: 459px;
              .smm-left {

                .sl-project {

                }

                ul {

                  .slp-house {

                    br {

                    }
                  }

                  li {

                  }
                }
              }

              .smm-right {

                img {

                }
              }
            }

            .smm-bottom {

              .smmb-left {

              }

              .smmb-mid {

                b {

                }
              }

              .smmb-right {

                p {

                }

                a {

                  img {

                  }
                }
              }
            }
          }
        }

        .section-bottom {
          display: flex;
          .sb-left {
            margin-right: 155px;
            img {

            }
          }

          .sb-right {
            position: relative;
            .sbr-top {
              font-family: dinbold;
              font-size: 58px;
              text-transform: uppercase;
              display: flex;
              margin-top: 55px;
              .sbrt-round {

                .sr-line1 {

                  .round {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #000000;
                    margin: 5px;
                  }
                }

                .sr-line2 {
                  display: flex;
                  .round {

                  }
                }

                .sr-line3 {
                  display: flex;
                  .round {

                  }
                }
              }

              .sbrt-content {

                p {
                  margin-top: 0;
                }
              }
            }

            .sbr-center {
              font-family: dinregular;
              font-size: 17px;
              margin-left: 54px;
              width: 400px;
              margin-bottom: 115px;
              p {

              }
            }

            .sbr-bottom {
              color: #ffffff;
              background: #000000;
              display: flex;
              position: absolute;
              width: 285px;
              height: 70px;
              left: -95px;
              bottom: 5px;
              .sbrb-content {
                font-family: dinregular;
                text-transform: uppercase;
                font-size: 14px;
                margin: auto;
                margin-right: 175px;
              }

              .arrow {
                position: absolute;
                top: 43%;
                right: 20%;
              }
            }
          }
        }
      }
    }
  }
}

footer {

  .wrap-footer {
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 250px;
    position: relative;
    .wf-left {
      margin-right: 310px;
      img {

      }
    }

    .wf-center {
      margin-right: 190px;
      h6 {
        font-family: dinpro;
        font-size: 15px;
        color: #000000;
        margin-top: 0;
      }

      p {
        font-family: dinregular;
        font-size: 15px;
        color: #000000;
        text-transform: uppercase;
        br {

        }
      }
    }

    .wf-right {
      font-family: dinregular;
      text-transform: uppercase;
      font-size: 15px;
      color: #000000;
      .work {

        a {

        }
      }

      br {

      }

      .about {

        a {

        }
      }

      .contact {

        a {

        }
      }
    }

    .backtotop {
      position: absolute;
      top: 0;
      right: 0;
      background: #000000;
      color: #ffffff;
      font-family: dinregular;
      height: 100%;
      text-transform: uppercase;
      font-size: 15px;
      a {

      }
    }
  }
}